$fontFamily: 'Helvetica';

$blackColor: #333333;
$whiteColor: #FFFFFF;
$primaryAccentColor: #003399;
$secondaryAccentColor: #1D8C8E;
$tertiaryAccentColor: #2F2F2F;
$grayBg: #37474f;
$disabledColor: #B0B0B0;
$borderColor: #009999;
$redColor: #990033;
$blackText: #3a332b;
$lightBlackText: #746a62;