@import '../../styles/colors.scss';

.header-container {
    background: transparent;
    min-height: 64px;
    padding: 0px 1.45rem;

    .header {
       .header-logo {
           max-width: 275px;
       }
    }
}